<form class="col-md-6 offset-md-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Sign Up</h2>
        <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">First Name: </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"
                        [ngClass]="{ 'is-invalid': registerForm.get('fname').touched && registerForm.get('fname').invalid}"
                        placeholder="Enter First Name" formControlName="fname" />
                    <div class="invalid-feedback">
                        <div>First Name is Required</div>
                    </div>
                </div>
        </div>

        <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">Last Name: </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"
                        [ngClass]="{ 'is-invalid': registerForm.get('lname').touched && registerForm.get('lname').invalid}"
                        placeholder="Enter Last Name" formControlName="lname" />
                    <div class="invalid-feedback">
                        <div>Last Name is Required</div>
                    </div>
                </div>
        </div>
    
    <div class="form-group row">
            <label for="staticId" class="col-sm-2 col-form-label">Email: </label>
            <div class="col-sm-10">
                <input type="email" class="form-control"
                    [ngClass]="{ 'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid}"
                    placeholder="Enter Email" formControlName="email" />
                <div class="invalid-feedback">
                    <div>Email ID is Required</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">Password: </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control"
                        [ngClass]="{ 'is-invalid': registerForm.get('pwd').touched && registerForm.get('pwd').invalid}"
                        placeholder="Enter Password" formControlName="pwd" />
                    <div class="invalid-feedback">
                        <div>Password is Required</div>
                    </div>
                </div>
        </div>
        
        <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">Re-enter Password: </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control"
                        [ngClass]="{ 'is-invalid': registerForm.get('pwd').touched && registerForm.get('pwd').invalid}"
                        placeholder="Enter Password" formControlName="pwd" />
                    <div class="invalid-feedback">
                        <div>Password is Required</div>
                    </div>
                </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    <a routerLink="" class="btn btn-link">Cancel</a>
                </div>
            </div>
</form>
